body {
    background-color: #c3cdda;
    background: url(../image/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.m-login { width:340px;background-color:#fafafa;
    position:absolute; left:50%; top:50%; margin-left:-170px;
    margin-top:-120px; box-shadow: 0 0 10px #333;border-radius:5px;
    padding-bottom:15px; color:#666;
}
.m-login .login-head { background-color:#f0f0f0;
    height:50px;line-height:50px; padding-left:10px; font-size:16px; border-bottom:1px solid #ebebeb;
    border-radius:5px 5px 0px 0px; text-align:center; color:#909090; text-shadow:#fff 1px 1px 0px;
}
.form-input{width: 300px;margin: auto;padding-top: 10px; }
.form-group { align-items: center;}
