<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>后台管理系统</title>
        <link rel="stylesheet" type="text/css" href="__CSS__/admin_default.css" />
        <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css" />
    </head>
    <body>
        <div class="m-login">
            <div class="login-head"> 后台管理</div>
            <form id="login-form" method="post" role="form">
                <div  class="form-input">
                    <div class="form-group field-loginform-username required">
                        <input type="text" class="form-control" name="name" maxlength="256" placeholder="用户名" value="">
                    </div>
                    <div class="form-group field-loginform-password required">
                        <input type="password" id="password" class="form-control" name="password" maxlength="256" placeholder="密码">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary u-login-btn">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>